<?xml version="1.0"?>
<launch>

  <!-- start purepursuit node -->
  <node pkg="robotnik_pp_planner" type="robotnik_pp_planner_node" name="robotnik_pp_planner" output="screen">
	<!-- Options: MAP, ODOM -->	
	<!-- param name="position_source" value="MAP" type="string"/ -->
	<param name="position_source" value="ODOM" type="string"/>
	<param name="target_frame" value="base_footprint" type="string"/>
	<param name="d_lookahear_min" value="1.0"/>
  	<param name="kr" value="0.2"/>
	<param name="desired_freq" value="50.0"/>

	<!--for Ackerman-->
	<!--param name="d_dist_wheel_to_center" value="1.0"/-->
	<!-- type of velocity command (depending on odometry configuration): Ackermann, Twist -->
	<!--
	<param name="command_type" value="Ackermann"/>
 	<param name="odom_topic" value="/agvs_robot_control/odom"/>
        <param name="cmd_topic_vel" value="/agvs_robot_control/command"/-->
	<param name="command_type" value="Ackermann"/>
 	<param name="odom_topic" value="/rbcar_robot_control/odom"/>
        <param name="cmd_topic_vel" value="/rbcar_robot_control/command"/>
  </node>

</launch>

