<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- ros control plugin -->
  <xacro:macro name="ros_control">
    <gazebo>
      <plugin name="ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/rbcar</robotNamespace>
        <robotParam>robot_description</robotParam>
        <!-- controlPeriod>0.003</controlPeriod -->
        <controlPeriod>0.001</controlPeriod>
	    <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      </plugin>
    </gazebo>
	</xacro:macro>
	
  <!-- No Ackermann steering plugin -->
	  
  <gazebo reference="base_footprint">
    <material>Gazebo/Green</material>
  </gazebo>
  

</robot>
