<?xml version="1.0"?>
<robot name="sensor_hokuyo_ust10lx" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="sensor_hokuyo_ust10lx" params="prefix parent prefix_topic:='front_laser' *origin min_angle:=-2.3562 max_angle:=2.3562 gpu:=^|true">

    <link name="${prefix}_link">
	</link>
    <joint name="${prefix}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}_link"/>
      <xacro:insert_block name="origin" />
	</joint>

    <joint name="${prefix}_base_joint" type="fixed">
      <origin xyz="0.00 0 -0.05" rpy="0 0 0"/>
      <parent link="${prefix}_link"/>
      <child link="${prefix}_base_link"/>

    </joint>

    <link name="${prefix}_base_link">
      <collision>
        <origin xyz="0 0 0.0" rpy="0 0 0"/>
        <geometry>
          <box size="0.010 0.010 0.010"/>
        </geometry>
      </collision>

      <visual>
        <origin xyz="0 0 0.0" rpy="0 0 0"/>
        <geometry>
            <mesh filename="package://robotnik_sensors/meshes/hokuyo_ust_10lx.dae"/>
        </geometry>
      </visual>

      <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
      </inertial>
    </link>



    <!-- Hokuyo sensor for simulation -->
    <xacro:sensor_hokuyo_ust10_gazebo/>

  </xacro:macro>


  <xacro:macro name="sensor_hokuyo_ust10_gazebo">
    <gazebo reference="${prefix}_link">
			<xacro:if value="${gpu}">
        <xacro:property name="ray_type" value="gpu_ray" />
        <xacro:property name="plugin_lib" value="libgazebo_ros_gpu_laser.so" />
      </xacro:if>
      <xacro:unless value="${gpu}">
        <xacro:property name="ray_type" value="ray" />
        <xacro:property name="plugin_lib" value="libgazebo_ros_laser.so" />
      </xacro:unless>
			<sensor type="${ray_type}" name="${prefix}_sensor">
				<pose>0 0 0 0 0 0</pose>
				<visualize>false</visualize>
				<update_rate>40</update_rate>
				<ray>
					<scan>
						<horizontal>
							<samples>1081</samples>
							<resolution>1</resolution>
							<min_angle>${min_angle}</min_angle>
							<max_angle>${max_angle}</max_angle>
						</horizontal>
					</scan>
					<range>
						<min>0.06</min>
						<max>10.0</max>
						<!-- resolution>0.004363323</resolution -->
						<resolution>0.004359297</resolution>
						<!-- resolution>0.001</resolution -->
					</range>
					<noise>
						<type>gaussian</type>
						<mean>0.0</mean>
						<stddev>0.01</stddev>
					</noise>
				</ray>
				<plugin name="${prefix}_controller" filename="${plugin_lib}">
					<topicName>${prefix_topic}/scan</topicName>
					<frameName>/${prefix}_link</frameName>
				</plugin>
			</sensor>
	</gazebo>
  </xacro:macro>

</robot>
