<?xml version="1.0"?>
<robot name="sensor_imu" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="sensor_imu" params="prefix ns:='' parent *origin">

	  <joint name="${prefix}_joint" type="fixed">
	      <axis xyz="1 0 0"/>
	      <!--origin xyz="0 0 0.2825"/-->
	      <xacro:insert_block name="origin"/>
	      <parent link="${parent}"/>
	      <child link="${prefix}_link"/>
	  </joint>

	  <link name="${prefix}_link">
	      <inertial>
	        <mass value="0.001"/>
	        <origin rpy="0 0 0" xyz="0 0 0"/>
	        <inertia ixx="0.00000000167" ixy="0" ixz="0" iyy="0.00000000167" iyz="0" izz="0.00000000167"/>
	      </inertial>
	      <visual>
	        <origin rpy="0 0 0" xyz="0 0 0"/>
	        <geometry>
	          <box size="0.001 0.001 0.001"/>
	        </geometry>
	      </visual>
	      <!--collision>
	        <origin rpy="0 0 0" xyz="0 0 0"/>
	        <geometry>
	          <box size=".001 .001 .001"/>
	        </geometry>
	      </collision-->
	  </link>

	  <!--<gazebo>-->
		<!--<plugin name="${prefix}_controller" filename="libgazebo_ros_imu.so">-->
		   <!--<topicName>${ns}imu/data</topicName>-->
		   <!--<serviceName>imu/service</serviceName>-->
		   <!--<bodyName>${prefix}_link</bodyName>-->
		   <!--<updateRateHZ>50.0</updateRateHZ>-->
		   <!--<gaussianNoise>0.0</gaussianNoise>-->
		<!--</plugin>-->
	  <!--</gazebo>-->

 <gazebo reference="${prefix}_link">
    <gravity>true</gravity>
    <sensor name="${prefix}_imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>__default_topic__</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="${prefix}_imu_plugin">
        <topicName>imu/data</topicName>
		<bodyName>${prefix}_link</bodyName>
        <updateRateHZ>100.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
		<frameName>${prefix}_link</frameName>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>

  </xacro:macro>

</robot>
