<?xml version="1.0"?>
<robot name="sensor_zed" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- Xacro properties -->
  <xacro:property name="M_PI" value="3.1415926535897931" />

  <xacro:macro name="sensor_zed" params="prefix parent prefix_topic:='front_rgbd_camera' *origin">

    <joint name="${prefix}_rgb_joint" type="fixed">
	    <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}_rgb_base_link" />
    </joint>

    <link name="${prefix}_rgb_base_link">
      <inertial>
        <mass value="0.001" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
          iyy="0.0001" iyz="0.0"
          izz="0.0001" />
      </inertial>
    </link>

    <!-- Camera center -->
    <joint name="${prefix}_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0"
              rpy="0.0 0.0 0.0"/>
      <parent link="${prefix}_rgb_base_link"/>
      <child link="${prefix}_link"/>
    </joint>

    <link name="${prefix}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robotnik_sensors/meshes/zed.stl"/>
        </geometry>
        <material name="light_grey">
          <color rgba="0.8 0.8 0.8 0.8"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robotnik_sensors/meshes/zed.stl" />
        </geometry>
      </collision>
      <inertial>
        <mass value="0.564" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.003881243" ixy="0.0" ixz="0.0"
                  iyy="0.000498940" iyz="0.0"
                  izz="0.003879257" />
      </inertial>
    </link>

    <!-- Left camera -->
    <joint name="${prefix}_rgb_left_joint" type="fixed">
      <origin xyz="0.0 0.06 0.0" rpy="0.0 0.0 0.0" />
      <parent link="${prefix}_link" />
      <child link="${prefix}_left_rgb_frame" />
    </joint>

    <link name="${prefix}_left_rgb_frame"/>

    <joint name="${prefix}_rgb_left_optical_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="${-M_PI/2} 0.0 ${-M_PI/2}" />
      <parent link="${prefix}_left_rgb_frame" />
      <child link="${prefix}_left_rgb_optical_frame" />
    </joint>

    <link name="${prefix}_left_rgb_optical_frame"/>

    <!-- Right camera-->
    <joint name="${prefix}_rgb_right_joint" type="fixed">
      <origin xyz="0.0 -0.06 0.0" rpy="0.0 0.0 0.0" />
      <parent link="${prefix}_link" />
      <child link="${prefix}_right_rgb_frame" />
    </joint>

    <link name="${prefix}_right_rgb_frame"/>

    <joint name="${prefix}_rgb_right_optical_joint" type="fixed">
      <origin xyz="0.0 0 0.0" rpy="${-M_PI/2} 0.0 ${-M_PI/2}" />
      <parent link="${prefix}_right_rgb_frame" />
      <child link="${prefix}_right_rgb_optical_frame" />
    </joint>

    <link name="${prefix}_right_rgb_optical_frame"/>

  <!-- TODO: simulation -->

  </xacro:macro>
</robot>
