<?xml version="1.0"?>
<launch>
  <arg name="prefix" default="rbcar"/> 
  <arg name="cmd_vel_topic" default="/cmd_vel"/> 
  <arg name="odom_topic" default="rbcar_controller/odom"/> 
  <arg name="global_frame" default="map"/> 
  <arg name="odom_frame" default="odom"/> 
  <arg name="base_frame" default="base_footprint"/>
  <arg name="laser_frame" default="velodyne"/>
  <arg name="scan_topic" default="/base_scan/scan"/>

<!--  <include file="$(find ackermann_drive_teleop)/launch/ackermann_drive_joyop.launch" /> -->
  
  <!-- Run move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base">
		<rosparam file="$(find rbcar_navigation)/config/move_base_params.yaml" command="load" />
		<rosparam file="$(find rbcar_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find rbcar_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find rbcar_navigation)/config/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find rbcar_navigation)/config/global_costmap_params_map.yaml" command="load" />

		
					
		<!-- reset frame_id parameters using user input data -->
		<param name="global_costmap/obstacles_layer/scan/sensor_frame" value="$(arg laser_frame)"/>
		<param name="local_costmap/obstacles_layer/scan/sensor_frame" value="$(arg laser_frame)"/>
		<param name="global_costmap/obstacles_layer/scan/topic" value="$(arg scan_topic)"/>
		<param name="local_costmap/obstacles_layer/scan/topic" value="$(arg scan_topic)"/>
		<param name="local_costmap/global_frame" value="$(arg odom_frame)"/>
		<param name="local_costmap/robot_base_frame" value="$(arg base_frame)"/>
		<param name="global_costmap/global_frame" value="$(arg global_frame)"/>
		<param name="global_costmap/robot_base_frame" value="$(arg base_frame)"/>
		
    <param name="controller_frequency" value="5.0"/>
    <param name="controller_patience" value="15.0"/>
    
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)" /> 
    <remap from="odom" to="$(arg odom_topic)" />        
  </node>
  
</launch>
