<?xml version="1.0"?>
<robot name="sensor_hokuyo_urg04lx" xmlns:xacro="http://wiki.ros.org/xacro">


  <xacro:macro name="sensor_hokuyo_urg04lx" params="prefix parent prefix_topic:='front_laser' *origin min_angle:=-2.0943 max_angle:=2.0943  gpu:=^|true">

    <joint name="${prefix}_base_joint" type="fixed">
      <!-- FRONT MOUNT  -->
      <!--origin xyz="0.29 0 0.1" -->
      <!-- TOP MOUNT -->
      <!-- origin xyz="0.0 0.0 0.325"-->
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}_base_link"/>
    </joint>


    <link name="${prefix}_base_link">
      <visual>
        <origin xyz="0 0 -0.05" rpy="0 0 0"/>
        <geometry>
            <mesh filename="package://robotnik_sensors/meshes/hokuyo_urg_04lx.dae"/>
        </geometry>
      </visual>

      <inertial>
        <mass value="1e-5" />

        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
      </inertial>
    </link>

    <link name="${prefix}_link">
	</link>
    <joint name="${prefix}_joint" type="fixed">
      <parent link="${prefix}_base_link"/>
      <child link="${prefix}_link"/>
      <origin xyz="0.00 0 0.00" rpy="0 0 0"/>
	</joint>

    <!-- Hokuyo sensor for simulation -->
    <sensor_hokuyo_urg04lx_gazebo/>

  </xacro:macro>


  <xacro:macro name="sensor_hokuyo_urg04lx_gazebo">
    <gazebo reference="${prefix}_link">
      <xacro:if value="${gpu}">
        <xacro:property name="ray_type" value="gpu_ray" />
        <xacro:property name="plugin_lib" value="libgazebo_ros_gpu_laser.so" />
      </xacro:if>
      <xacro:unless value="${gpu}">
        <xacro:property name="ray_type" value="ray" />
        <xacro:property name="plugin_lib" value="libgazebo_ros_laser.so" />
      </xacro:unless>
			<sensor type="${ray_type}" name="${prefix}_sensor">
				<pose>0 0 0 0 0 0</pose>
				<visualize>false</visualize>
				<update_rate>10</update_rate>
				<ray>
					<scan>
						<horizontal>
							<samples>640</samples>
							<resolution>1</resolution>
							<min_angle>${min_angle}</min_angle>
							<max_angle>${max_angle}</max_angle>
						</horizontal>
					</scan>
					<range>
						<min>0.02</min>
						<max>4.0</max>
						<resolution>0.00628318531</resolution>
					</range>
					<noise>
						<type>gaussian</type>
						<mean>0.0</mean>
						<stddev>0.01</stddev>
					</noise>
				</ray>
				<plugin name="${prefix}_controller" filename="${plugin_lib}">
					<topicName>${prefix_topic}/scan</topicName>
					<frameName>${prefix}_link</frameName>
					<ignoreTfPrefix>1</ignoreTfPrefix>
				</plugin>
			</sensor>
	</gazebo>
  </xacro:macro>

</robot>
