<?xml version="1.0"?>
<robot name="sensor_zed" xmlns:xacro="http://wiki.ros.org/xacro">

	<!-- Xacro properties -->
	<xacro:property name="M_PI" value="3.1415926535897931" />


  <xacro:macro name="sensor_zed" params="prefix parent prefix_topic:='front_rgbd_camera' *origin camera_model:='zed'">

	<xacro:if value="${camera_model == 'zed'}">
        <xacro:property name="baseline" value="0.12" />
    </xacro:if>
    <xacro:if value="${camera_model == 'zedm'}">
		<xacro:property name="baseline" value="0.06" />
    </xacro:if>
	<xacro:if value="${camera_model == 'zed2'}">
		<xacro:property name="baseline" value="0.12" />
	</xacro:if>

    <joint name="${prefix}_camera_center_joint" type="fixed">
        <parent link="${parent}"/>
        <child link="${prefix}_camera_center"/>
        <xacro:insert_block name="origin" />
    </joint>

    <link name="${prefix}_camera_center">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://robotnik_sensors/meshes/${camera_model}.stl"/>
            </geometry>
        </visual>
        <collision>
			<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
			<geometry>
			  <mesh filename="package://robotnik_sensors/meshes/${camera_model}.stl"/>
			</geometry>
      </collision>
    </link>

	<!-- Left Camera -->
    <joint name="${prefix}_left_camera_joint" type="fixed">
        <parent link="${prefix}_camera_center"/>
        <child link="${prefix}_left_camera_frame"/>
        <origin xyz="0 ${baseline/2} 0" rpy="0 0 0" />
    </joint>

    <link name="${prefix}_left_camera_frame" />

    <joint name="${prefix}_left_camera_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="-${M_PI/2} 0.0 -${M_PI/2}"/>
        <parent link="${prefix}_left_camera_frame"/>
        <child link="${prefix}_left_camera_optical_frame"/>
    </joint>

    <link name="${prefix}_left_camera_optical_frame"/>

	<!-- Right Camera -->
    <joint name="${prefix}_right_camera_joint" type="fixed">
        <parent link="${prefix}_camera_center"/>
        <child link="${prefix}_right_camera_frame"/>
        <origin xyz="0 -${baseline/2} 0" rpy="0 0 0" />
    </joint>

    <link name="${prefix}_right_camera_frame" />

    <joint name="${prefix}_right_camera_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="-${M_PI/2} 0.0 -${M_PI/2}"/>
        <parent link="${prefix}_right_camera_frame"/>
        <child link="${prefix}_right_camera_optical_frame"/>
    </joint>

    <link name="${prefix}_right_camera_optical_frame"/>

	<!-- ZED2 Sensors -->
    <xacro:if value="${camera_model == 'zed2'}">
        <joint name="${prefix}_mag_joint" type="fixed">
            <parent link="${prefix}_camera_center"/>
            <child link="${prefix}_mag_link"/>
            <origin xyz="0 0 0" rpy="0 0 0" />
        </joint>

        <link name="${prefix}_mag_link" />

        <joint name="${prefix}_baro_joint" type="fixed">
            <parent link="${prefix}_camera_center"/>
            <child link="${prefix}_baro_link"/>
            <origin xyz="0 0 0" rpy="0 0 0" />
        </joint>

        <link name="${prefix}_baro_link" />

        <joint name="${prefix}_temp_left_joint" type="fixed">
            <parent link="${prefix}_left_camera_frame"/>
            <child link="${prefix}_temp_left_link"/>
            <origin xyz="0 0 0" rpy="0 0 0" />
        </joint>

        <link name="${prefix}_temp_left_link" />

        <joint name="${prefix}_temp_right_joint" type="fixed">
            <parent link="${prefix}_right_camera_frame"/>
            <child link="${prefix}_temp_right_link"/>
            <origin xyz="0 0 0" rpy="0 0 0" />
        </joint>

        <link name="${prefix}_temp_right_link" />
    </xacro:if>

  </xacro:macro>
</robot>
